/merchant_map.json.local_copy
/check_rules.json.03162026
/merchant_map_merged.json
/merchant_map_ordered_by_specificity.json
/merchant_map.json.02252026
/merchant_map.json.03162026
/merchant_map.json.03172026
/merchant_map.json.04102026
/merchant_map.json.BAD
/rules_merged.json
/rules.json.02252026
/rules.json.02282026
/rules.json.03162026
/rules.json.old
/rules.json.orignal
/shopping merchants.txt
